{% extends "base.html" %}
{% block title %}Password reset confirm{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
    {% if validlink %}
        <p>Please enter your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

             {% csrf_token %}
              {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <input type="submit" value="submit" class='btn btn-primary'>
{#            <table>#}
{#                <tr>#}
{#                     <div class="form-group">#}
{#                    <td>{{ form.new_password1.errors }}#}
{#                        <label for="id_new_password1">New password:</label></td>#}
{#                    <td>{{ form.new_password1 }}</td>#}
{#                     </div>#}
{#                </tr>#}
{#                <tr>#}
{#                     <div class="form-group">#}
{#                    <td>{{ form.new_password2.errors }}#}
{#                        <label for="id_new_password2">Confirm password:</label></td>#}
{#                    <td>{{ form.new_password2 }}</td>#}
{#                     </div>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="Change my password" /></td>#}
{#                </tr>#}
{#            </table>#}
        </form>
    {% else %}
        <h1>Failed</h1>
        <p>The password reset link was invalid. Please request a new password.</p>
    {% endif %}
     </div>
  </div>

</div>
{% endblock %}