{% extends 'base-edit.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block edit_content %}

      <div class="row">
                            <h5 style="margin-right: 10px">Name:</h5> <h5>{{ profile.First_name}} {{ profile.Last_name }}</h5>
                    </div>
                 <div class="row">
                            <h5 style="margin-right: 10px">Email:</h5> <h5>{{ profile.email}}</h5>
                 </div>
                 <div class="row">
                            <h6 style="margin-right: 10px">Contact:</h6> <h6>{{ profile.contact}}</h6>
        </div>

      <div class="row">

        <form method="post" novalidate enctype="multipart/form-data">
             {% csrf_token %}
                <div class="row justify-content-md-center" >

                     <table class="table table-striped"  style="display:inline">
                            {{ I_AM.management_form }}
                                    {% for form in I_AM %}

                                            {% if forloop.first %}

                                        <thead>
                                                <tr >
                                                    {% for field in form.visible_fields %}
                                                        <th>{{ field.label|capfirst }}</th>
                                                    {% endfor %}
                                                </tr>
                                        </thead>
                                              {% endif %}
                                             <tr style="height: 1px" class="{% cycle row1 row2  %} formset_row">
                                              {% for field in form.visible_fields %}

                                               <td >
                                {# Include the hidden fields in the form #}

                                                    {% if forloop.first %}
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                    {% endif %}

                                               {% ifnotequal field.field.widget.input_type  "file" %}
                                                   {{ field }}

                                                   {% if field.errors %}
                                                      <div style="color: red">{{ form.errors }}</div>
                                                   {% endif %}

                                               {% endifnotequal %}

                                               {% ifequal field.field.widget.input_type 'checkbox' %}
                                                 <div class="row" style="position: center;margin-top: 10px">
                                                     {{ field }}
                                                 </div>
                                               {% endifequal %}

{#                                               {{ field.field.widget.input_type }}#}
                                                    {% if field.help_text %}
                                                        <p style="color: grey">{{ field.help_text }}</p>
                                               {% endif %}

                                               </td>

                                              {% endfor %}
                                              </tr>
                                    {% endfor %}
                     </table>
                    </div>

                <div class="row">
                     <button type="submit" class="btn btn-success" style="margin-left: 0.5%">Save</button>
                </div>
        </form>

        </div>


{% endblock edit_content %}

{% block edit_javascripts %}
   <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add',
            deleteText: 'remove',
            prefix: 'iam'
        });
    </script>

{% endblock edit_javascripts %}