{% extends 'base-edit.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block extracss %}

{% endblock extracss %}


{% block edit_content %}


        <div class="row">

        <form method="post" novalidate enctype="multipart/form-data">
             {% csrf_token %}

                <div class="row">
                    <div  class="col-md-8">

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.First_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                    {{ form.Last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                  {{ form.email|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.contact|as_crispy_field }}
                            </div>
                            <div class="col-md-6">

                                {{ form.DOB|as_crispy_field}}
                            </div>

                       </div>

                        <div class="row">
                            <div class="col-md-6">
                                 <label style="cursor: pointer; margin-top: 20px" for="{{ form.proforma_image.id_for_label }}">
                                <span class="fas fa-upload" style="color: blue;padding: 10px"></span>Upload Proforma Image</label>
                            {{ form.proforma_image }}
                            </div>
                            <div class="col-md-6">

                               <a href="/media/{{ form.proforma_image.initial }}"><span class="fas fa-download"></span>
                                   <label style="cursor: pointer; margin-top: 26px">{{ form.proforma_image.initial }}</label>
                               </a>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.bio|as_crispy_field }}

                            </div>
                        </div>

                          <div class="row">
                            <div class="col-md-12">
                                {{ form.special_activity|as_crispy_field }}

                            </div>
                        </div>


{#                        {{ form|crispy }}#}
                    </div>


                    <div class="col-md-4">
                    <div class="row">
                        <h5>Hobbies *</h5>

                    </div>
                    <div class="row" style="overflow:scroll;width: 100% ; height: 200px ;">

                     <table class="table table-striped">
                            {{ profile_hobbies.management_form }}
                                    {% for form in profile_hobbies %}
                                       
                                            {% if forloop.first %}

                                        <thead>
                                                <tr >
                                                    {% for field in form.visible_fields %}
                                                        <th>{{ field.label|capfirst }}</th>
                                                    {% endfor %}
                                                </tr>
                                        </thead>
                                              {% endif %}
                                             <tr class="{% cycle row1 row2  %} formset_row">
                                              {% for field in form.visible_fields %}
                                               <td>
                                {# Include the hidden fields in the form #}

                                                    {% if forloop.first %}
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                    {% endif %}
                                                    {{ field.errors.as_ul }}
                                                   {{ field }}
                                                    {% if field.help_text %}
                                                        <p style="color: grey">{{ field.help_text }}</p>
                                               {% endif %}

                                               </td>
                                              {% endfor %}
                                              </tr>
                                    {% endfor %}
                       </table>
                    </div>

                     <div class="row" style="margin-top: 100px">
                            <div class="col-md-12">
                                {{ form.specialist|as_crispy_field }}

                            </div>
                        </div>
                     <div class="row" style="margin-top: 40px">
                            <div class="col-md-6">
                                {{ form.available|as_crispy_field }}

                            </div>
                         <div class="col-md-6">
                                {{ form.experience|as_crispy_field }}

                            </div>
                        </div>
                </div>
              </div>

            <div class="row" style="margin-bottom: 20px ;margin-left: 5px ">
                 <button type="submit" class="btn btn-success">Save</button>

            </div>



        </form>

        </div>


{% endblock edit_content %}




{% block edit_javascripts %}


   <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add',
            deleteText: 'remove',
            prefix: 'user_hobbies'
        });
    </script>


{% endblock edit_javascripts %}
